.todo {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;
    margin-top: 2.4rem;
}

.todo, label { cursor: pointer; }

.todo input { display: none; }

.todo label,
.todo label:after { border-radius: 50%; }

.todo label {
    width: 2.5rem;
    height: 2.5rem;
    position: relative;
    border: solid .4rem #49e2a1;
}

.todo label:after {
    transform: translate(-50%, -50%);
    background: #49e2a1;
    transition: all .3s;
    position: absolute;
    display: block;
    height: 1.2rem;
    width: 1.2rem;
    content: '';
    opacity: 0;
    left: 50%;
    top: 50%;
}

.todo input:checked ~ span {
    color: #dbdde2;
    text-decoration: line-through;
    animation: doneAnimation .5s;
}

.todo input:checked ~ label:after { opacity: 1; }

.todo:hover figure { opacity: 1; }

.todo figure {
    transition: all .5s;
    position: absolute;
    color: #f76767;
    font-size: 2rem;
    left: -2.4rem;
    opacity: 0;
}

@keyframes doneAnimation {
    0% {
        opacity: .8;
        color: #49e2a1;
        transform: translateX(-.5rem);
        
        visibility: hidden;
    }

    50% { transform: translateX(-1rem); }

    100% {
        opacity: 1;
        transform: translateY(0);

        visibility: visible;
    }
}
