.container {
    box-shadow: 0 .1rem .5rem rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: all .5s;
    position: absolute;
    min-height: 80vh;
    min-width: 50vh;
    padding: 4.2rem;
    left: 50%;
    top: 50%;
}

.inputShown { transform: translate(-50%, -47%); }

.inputHidden { transform: translate(-50%, -50%); }
