.inputContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #50e3a4;
    transition: all .5s;
    position: absolute;
    height: 5rem;
    width: 100%;
    top: -5rem;
    left: 0;
}

.shown {
    opacity: 1;
    visibility: visible;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

.inputContainer input {
    border-bottom: solid .2rem #47a37b;
    background-color: #46be8b;
    padding: .5rem 1rem;
    height: 2.5rem;
    color: #fff;
    width: 80%;
    border: 0;
}

.button {
    position: relative;
    height: 2.5rem;
    width: 2.5rem;
}

.button button {
    background-color: #46be8b;
    position: absolute;
    left: 1.8rem;
    height: 2rem;
    width: 2rem;
    top: .3rem;
}

.button button span { 
    transform: translate(-45%, -50%);
    color: #50e3a4;
    font-size: 1rem; 
}