.button {
    box-shadow: 0 .2rem .2rem rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    border: none;

    transform: translateX(-50%);
    background-color: #50e3a4;
    position: absolute;
    height: 6rem;
    bottom: -6%;
    width: 6rem;
    left: 50%;
}

.button:hover::after { 
    transform: scale(1.5); 
    opacity: 0;
}

.button::after {
    background-color: inherit;
    border-radius: inherit;
    transition: all .5s;
    position: absolute;
    display: block;
    height: 100%;
    content: '';
    width: 100%;
    z-index: -1;
    left: 0;
    top: 0;
}

.button:hover span { color: #fff; }

.button span {
    transform: translate(-50%, -50%);
    color:  #46be8b;
    font-size: 2rem; 
    
    display: inline-block;
    transition: all .3s;
    position: absolute;
}

.buttonScaleAnimation { animation: infiniteScale 1.8s infinite; }

@keyframes infiniteScale {
    0% { transform: translateX(-50%) scale(1); }

    50% { transform: translateX(-50%) scale(1.2); }

    10% { transform: translateX(-50%) scale(1); }
}

@media only screen and (max-width: 600px) {
    .button { bottom: 5%; }
}